/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 de mai. de 2024, 22:25:09
    Author     : victo
*/

body {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    text-align: center;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}

